# {{ ansible_managed }}

# AWS Access keys
export AWS_ACCESS_KEY_ID="{{ restic_aws_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ restic_aws_secret_key }}"

# AWS S3 bucket
export RESTIC_REPOSITORY="{{ restic_repository }}"

# Restic password to encrypt files
export RESTIC_PASSWORD="{{ restic_password }}"
